@import "_var";

.hero-banner {
    height: 100vh !important;
    width: 100%;
}

.dark-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.fold-section .section {
    margin: 100px 0;
}

.wrapper {
    max-width: 1180px; //20+1140+20
    width: 100%;
    height: auto;
    margin: 0 20px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.content-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 48px;
}
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 28px;
}

.content-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 20px;
}

.img-col {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.space-col {
    height: 5px;
    width: 100%;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    height: auto;
    min-height: 100%;
    width: 100%;
}

.two-button {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.title-line{
    height: 2px;
    width: 25%;
    margin: 9.5px 0;
    background-color: $black;
    position: relative;
    border-radius: 100px;
}
