@import "_var";

.fold-section {
    @include flex-center;
    flex-direction: column;
}

.hero-banner {
    @include full-size;
    height: 100vh !important;
}

.dark-overlay {
    @include flex-center;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.section {
    @include flex-center;
    @include full-size;
    position: relative;
    top: 0;
    left: 0;
}

.fold-section .section {
    padding: 100px 0;
}

.wrapper {
    max-width: 1180px; //20+1140+20
    width: 100%;
    height: auto;
    margin: 0 20px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.content-col,
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.content-col {
    row-gap: 48px;
}

.content {
    row-gap: 28px;
}

.content-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 20px;
    width: 100%;
}

.img-col {
    position: relative;
    overflow: hidden;
    @include corner-radius;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.space-col {
    height: 5px;
    width: 100%;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    height: auto;
    min-height: 100%;
    width: 100%;
}

.two-button {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.title-line {
    height: 2px;
    max-width: 40px;
    width: 100%;
    margin: 9.5px 0;
    background-color: $black;
    position: relative;
    border-radius: 100px;
}

.supporters-sliders {
    display: flex;
    gap: 80px;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
}

.supporters-logo {
    flex: 1;
    opacity: 0.6;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.function-card {
    @include flex-center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.inner-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-icon {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    max-width: 36px;
    width: 100%;
    max-height: 36px;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.project-card {
    @include corner-radius;
    overflow: hidden;
    width: 100%;

    .card-content {
        padding: 32px;
        padding-top: 120px;
        gap: 48px;
        width: 100%;
    }

    .card-title {
        height: 65px;
        display: flex;
        align-items: flex-end;
    }

    h5,
    p {
        color: white;
    }

    .inner-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.graph {
    height: 100%;
    width: 100%;
}

.chart-legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.legend-item {
    @include flex-center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    width: 240px;
}
.legend-color {
    max-width: 28px;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

.cta-content {
    padding: 90px 100px;
    background: #000000;
    border-radius: 32px;
}

.event-card {
    @include corner-radius;
    padding: 32px;
    flex: 1;
    width: 100%;
}

.event-content {
    @include flex-center;
    justify-content: space-between;
    gap: 32px;
    .inner-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
