@import "_var";


.max-200 {
    max-width: 200px;
    width: 100%;
}

.w-nav {
    position: fixed;
    @include flex-center;
    width: 100%;
    height: auto;
    z-index: 10000;
    padding: 20px 0;
    transition: all 200ms ease-in-out;
    border-bottom: 1px solid rgba(239, 239, 242, 0.2);
    background-color: transparent;
}

.w-nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
    transition: all .3s ease;
}

.nav-logo {
    @include flex-center;
    justify-content: flex-start;

    img {
        max-height: 64px;
        height: 32px;
    }
}

.nav-links {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}

.nav-items {
    @include urbanist-font(500, 16px, $off-black);
}

.nav-items {
    color: $white;
    transition: all .3s ease;

    &:hover {
        color: $primary;
    }
}

.nav-cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: fit-content;
}

.menu-icon {
    max-width: 36px;
    max-height: 36px;
    min-width: 36px;
    min-height: 36px;
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: $primary;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon.active {
    background-color: $white;
    padding: 4px
}

.nav-icon {
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-popup {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 0 20px 20px 20px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    transition: left 400ms ease-in-out;
    z-index: 9999;
    
    
    .nav-items {
        color: $black;
        padding: 16px 32px;
        width: 100%;
        border-bottom: 1px solid #1d213038;
    }

    .nav-popup-content, .nav-content {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        align-items: flex-end;
        
    }
    
    .nav-content {
        border-top: 2px solid $black;
    }

    .w-button {
        width: 100%;
    }

    .menu-area {
        height: 36px;
        width: 100%;
        margin: 14px 0;
    }

    .w-button-primary {
        max-height: 59px;
        height: 100%;
        text-align: center;
    }

}

.active {
    left: 0;
}

.open {
    padding: 14px 0;
}

.squeeze {
    animation: squeeze 300ms forwards;
}

@keyframes squeeze {
    0% {
        transform: scale(1, 1);
    }

    40% {
        transform: scale(1, 0.4);
        /* Squeeze horizontally */
    }

    100% {
        transform: scale(1, 1);
        /* Return to original size */
    }
}

//Sticky Nav
.sticky {
    background-color: #ffffff;
    border-bottom: 1px solid #1d213069;
    padding: 14px 0;

    .nav-items {
        color: $black;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .nav-logo img {
        height: 28px;
        content: url("../uploads/10897114103101114116104116105/logo.svg");
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .w-button-primary {
        padding: 10px 32px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
            background-color: $black !important;

            .w-button-inner {
                color: $white !important;
            }
        }
    }

}