@import "_var";

@media screen and (min-width: 1024px) {
    .menu-icon {
        display: none;
    }
    .project-card .card-title {
        height: 65px;
    }
}

//Laptop styles
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .inner-container {
        grid-column-gap: 28px;
    }
    
    .inner-container-105 .img-col {
        width: 64% !important;
    }
}
//Tablet styles
@media screen and (max-width: 1023px) {
    @import "_responsive/tablet";
    .hero-banner {
        height: calc(100vh - 50px) !important;
    }
}

//Mobile styles
@media screen and (max-width: 767px) {
    @import "_responsive/mobile";
}