@import "_var";
//Desktop styles
@media screen and (min-width: 1024px) {
    .menu-icon {
        display: none;
    }
}
//Tablet styles
@media screen and (max-width: 1023px) {
    .space-col {
        display: none;
    }

    .inner-container,
    .function-card {
        flex-direction: column;
    }

    .img-col {
        width: 100% !important;
    }

    .nav-links,
    .nav-cta {
        display: none;
    }
    .function-card {
        .card-content {
            padding-top: 32px;
        }
    }
    .menu-icon {
        display: flex;
    }
}

//Mobile styles
@media screen and (max-width: 767px) {}