@import "_var";

// Fonts
.urbanist-700 {
    @include urbanist-font(700, null, null);
}

.urbanist-500 {
    @include urbanist-font(500, null, null);
}

// Font Settings
h1, h2, h3, h4, h5, h6 {
    color: $black;
    line-height: 1.2;
}

p {
    color: $off-black;
    line-height: 1.5;
}

// Headings
.w-h1 {
    @include urbanist-font(700, 3.815rem, $black);
}

.w-h2 {
    @include urbanist-font(700, 3.052rem, $black);
}

.w-h3 {
    @include urbanist-font(700, 2.441rem, $black);
}

.w-h4 {
    @include urbanist-font(700, 1.953rem, $black);
}

.w-h5 {
    @include urbanist-font(700, 1.563rem, $black);
}

.w-h6 {
    @include urbanist-font(700, 1rem, $black);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.w-l-p {
    @include urbanist-font(700, 1.25rem, $black);
}

// Paragraphs and Nav Items
.w-p {
    @include urbanist-font(500, 1rem, $off-black);
}

.nav-items {
    @include urbanist-font(500, 16px, $off-black);
}

// Buttons
.w-button-primary {
    @include button-style($primary, $black);
}

.w-button-play {
    @include button-style(transparent, $white);
    display: flex;
    align-items: center;
    padding: 16px 28px;

    i.fa-circle-play {
        font-size: 26px;
        color: $white;
        margin-right: 8px;
        transition: color 200ms ease-in-out;
    }

    &:hover {
        background-color: $black;

        i.fa-circle-play, .w-button-inner {
            color: $black;
        }
    }
}