@use "partials/reset";
@use "partials/ui_kit";
@use "partials/nav";
@use "partials/global";
@use "partials/responsive";
@import "partials/var";

html {
    font-size: 18px;
    scroll-behavior: smooth !important
}

//Overrides
.hero-banner {
    .w-p {
        font-size: 22px;
        color: $white;
        opacity: 0.9;
    }

    .w-h1 {
        color: $white;
    }

    .w-button-play,
    .w-button-primary {
        &:hover {
            background-color: $white;

            .w-button-inner {
                color: $black;
            }
        }
    }
}

.inner-container-000 {
    margin-top: 100px;
}

.w-hero-section,
.project-card-001,
.project-card-002,
.project-card-003 {
    background: url('../uploads/10897114103101114116104116105/placeholder-1.jpg') center/cover no-repeat;
}

.whatwedo-section.section {
    background-color: $section;
}

.stat-section.section {
    background-color: $black;

}

.inner-container-102 {
    flex-direction: column;

    .w-h6 {
        width: max-content;
    }

    .content-line {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .title-line {
        max-width: unset;
        flex-grow: 1;
        opacity: 0.5;
    }

}

.supporters-section.section {
    padding-top: 0;
}

.inner-container-103 .content-col {
    row-gap: 40px;
}

.inner-container-104 .content {
    width: 90%;
}

.inner-container-104 {
    flex-direction: column;

    .function-card {
        flex-direction: row;
    }
}

.inner-container-105 {
    .title-line {
        display: none;
    }

    .w-h2, .w-p {
        color: white;
    }
    .w-p {
        opacity: 0.9;
    }
    img-col {
        max-width: 400px;
    }
}

#donutchart > div > div:nth-child(1) > div > svg > rect {
    fill: transparent;
}